{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/profile/new.css') }}">
{% endblock %}

{% block title %}New Profile{% endblock %}

{% block body %}
    <div class="page-container">
        <h1>Create new Profile</h1>
        <div class="form-container">
            {{ include('profile/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
